div {
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

div label,
button {
  margin-top: 1rem;
  font-weight: bold;
}

div h1 {
  font-weight: bold;

  font-size: 2rem;
  margin-top: 1rem;
}
