<div class="container" style="background-color: bisque">
  <div class="row">
    <div class="col">
      <div>
        {{ indice + 1 }} - {{ articuloIndividual.nombre }} -
        {{ articuloIndividual.precio }}- {{ articuloIndividual.unidades }}
      </div>
    </div>
  </div>
</div>

<app-caracteristicas-articulo
  (caracteristica)="agregarCaracteristicas($event)"
></app-caracteristicas-articulo>

<ul style="list-style: none">
  <li *ngFor="let caracteristica of arrayCaracteristica">
    {{ caracteristica }}
  </li>
</ul>
